Repository librevault/lvdiscovery: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, poetry

.pre-commit-config.yaml:

default_language_version:
  python: python3.8
repos:
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
    - id: isort
  - repo: local
    hooks:
    - id: flake8
      name: flake8
      entry: poetry run flake8
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: poetry
      name: poetry check
      entry: poetry check
      pass_filenames: false
      language: system
      files: ^pyproject\.toml$

Add some Prometheus metrics
  poetry.lock
  pyproject.toml
  services/tracker.py
Due: flake8, poetry

add deannounce request
  services/tracker.py
Due: flake8

fix user-agent
  services/tracker.py
Due: flake8

use hypercorn as a server
  Dockerfile
  poetry.lock
  pyproject.toml
  services/tracker.py
Due: flake8, poetry

use lvdiscovery name
  pyproject.toml
Due: poetry

Create dockerimage.yml
  .github/workflows/dockerimage.yml
Due: none

Update dockerimage.yml
  .github/workflows/dockerimage.yml
Due: none
